.profile {
  background-color: #ededed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .profile-layout {
    border-radius: 1em;
    background-color: white;
    width: 54%;
    height: 68%;
    display: grid;
    grid-template-rows: 1fr 7rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

    @media screen and (max-width: 999px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }

    .profile__header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: auto;

      @media screen and (max-width: 999px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .profile--img {
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.15) 4.95px 4.95px 20.6px;
        object-fit: cover;
      }

      .profile__header-info {
        display: flex;
        flex-basis: 340px;
        height: 70%;
        flex-direction: column;

        .header__info-title {
          font-size: 2em;
          font-weight: 900;
          margin-bottom: 0.4em;
        }

        .header__info-data {
          display: grid;
          height: 100%;
          grid-row: auto;

          .player--info {
            font-weight: bolder;
            margin-right: 0.5em;
          }
        }
      }

      .profile__header-team {
        height: 70%;
        display: grid;
        grid-row: auto;

        @media screen and (max-width: 999px) {
          height: auto;
          display: flex;
          width: 50%;
          justify-content: space-around;
        }

        .logo--content {
          border-radius: 50%;
          border: 8px solid #1c2642;
          width: 6rem;
          height: 6rem;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 999px) {
            width: 4rem;
            height: 4rem;
          }

          .team--logo {
            width: 3.6rem;
            height: 3.6rem;

            @media screen and (max-width: 999px) {
              width: 2rem;
              height: 2rem;
            }
          }

          .jersey--number {
            font-size: 3rem;
            font-weight: bolder;

            @media screen and (max-width: 999px) {
              font-size: 2em;
            }
          }
        }
      }
    }

    .profile__content {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 999px) {
        overflow-x: auto;

        &::-webkit-scrollbar {
          width: 0.1em;
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 0.4em;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #bf0d3e;
          border-radius: 0.4em;
        }

        &::-webkit-scrollbar-thumb:hover {
          outline: 1px groove #bf0d3e;
        }
      }

      .profile__table {
        width: 100%;
        border-collapse: collapse;

        .table--thead {
          text-transform: uppercase;
          font-size: medium;
          background-color: #eee;
          color: rgb(238, 28, 28);
          text-align: center;
        }

        .table--body {
          text-align: center;
        }

        th:nth-child(5n + 1):not(:last-child),
        td:nth-child(5n + 1):not(:last-child) {
          padding: 0.6em 0.2em;
          border-right: 1px solid black;
        }
      }
    }
  }
}
