<section class="profile">
  <section class="profile-layout">
    <article class="profile__header">
      <figure>
        <img src="/assets/images/arod.png" class="profile--img" alt="arod" />
      </figure>
      <article class="profile__header-info">
        <p class="header__info-title">
          <span>Alex Rodriguez</span>
        </p>
        <div class="header__info-data">
          <p>
            <span class="player--info">Nacido:</span>
            <span class="player--data">7/27/1975 en New York, NY</span>
          </p>
          <p>
            <span class="player--info">Posicion:</span>
            <span>SS/3B</span>
          </p>
          <p>
            <span class="player--info">B/T:</span>
            <span>D/D</span>
          </p>
          <p>
            <span class="player--info">Apodo:</span>
            <span>A-rod</span>
          </p>
          <p>
            <span class="player--info">Debut:</span>
            <span>7/08/1994</span>
          </p>
        </div>
      </article>
      <article class="profile__header-team">
        <figure class="logo--content">
          <img src="/assets/images/Yankees_logo.png" class="team--logo" alt="team logo" />
        </figure>
        <figure class="logo--content jersey--content">
          <p class="jersey--number">13</p>
        </figure>
      </article>
    </article>
    <article class="profile__content">
      <table>
        <thead>
          <th>Title</th>
          <th>Title</th>
        </thead>
        <tbody>
          <td>Content</td>
          <td>Content</td>
        </tbody>
      </table>
    </article>
  </section>
</section>
