<section class="players">
  <section class="players-layout">
    <header class="players__header">
      <h1 class="players__header-title">Jugador Más Valioso</h1>
      <p class="players__header-description">
        El premio Most Valuable Player (jugador más valioso o jugador mejor valorado, abreviado MVP) es un premio galardonado cada año al
        jugador más sobresaliente en cada liga de las Grandes Ligas de Béisbol. Desde 1930, es galardonado por la Asociación de los
        Escritores de Béisbol de América.
      </p>
      <div class="players__header-league">
        <span class="players__header-league--text">Liga Americana</span>
      </div>
    </header>

    <article class="players__content">
      <table class="players__content-table">
        <thead>
          <tr class="players__content-table--row">
            <th class="table--th">Año</th>
            <th class="table--th">Jugador</th>
            <th class="table--th">Equipo</th>
            <th class="table--th">Posición</th>
          </tr>
        </thead>
        <tbody>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
          <tr class="players__content-table--row">
            <td class="table--td">2007</td>
            <td class="table--td">Alex Rodríguez</td>
            <td class="table--td">Yankees</td>
            <td class="table--td">3B</td>
          </tr>
        </tbody>
      </table>
    </article>
  </section>
</section>
